<!DOCTYPE html>  
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Restaurants@takamatu_App</title>
    </head>
    <body>
         <div id="header">
            <h1><a href="index.html"><img id="" src="images.jpg" alt="店内風景" /></a></h1>
        </div>
        </div>
        <div id="header"></div>
        <div id="wrapper"><div id="nav">
        <ul>
        </ul>
            </div>
            <div id="container">
                <div id="main">
                    <div class="post">
                        </div>
                    <div class="post clearfix">
                        <h2>高松市の飲食店一覧</h2>
                         <li><a href="restaurants_list.csv">一覧</a></li>
                        <p>
                            居酒屋 もぐもぐ 高松瓦町店	月～日、祝日、祝前日: 16:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:30）
韓国チーズグルメダイニング ジーレム GLEAM 高松瓦町店	月、水、木: 15:00～21:00 （料理L.O. 20:00 ドリンクL.O. 20:30）金、祝前日: 15:00～22:00 （料理L.O. 21:00 ドリンクL.O. 21:30）土: 12:00～22:00 （料理L.O. 21:00 ドリンクL.O. 21:30）日、祝日: 12:00～21:00 （料理L.O. 20:00 ドリンクL.O. 20:30）
骨付鳥 東 西インター店	月、水～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
焼肉ホルモンしんみょう精肉店 鶴市店	月～日、祝日、祝前日: 11:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
粋な海鮮酒場 ものっそ	月～木、土、祝日、祝前日: 17:30～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）金: 17:30～翌2:00 （料理L.O. 翌1:00 ドリンクL.O. 翌1:00）
GLEAM グリム 高松店	月、水、木: 15:00～21:00 （料理L.O. 20:00 ドリンクL.O. 20:30）金、祝前日: 15:00～22:00 （料理L.O. 21:00 ドリンクL.O. 21:30）土: 12:00～22:00 （料理L.O. 21:00 ドリンクL.O. 21:30）日、祝日: 12:00～21:00 （料理L.O. 20:00 ドリンクL.O. 20:30）
さかな屋さんの居酒屋 北島商店酒場	月～土、祝前日: 17:00～翌0:00 （料理L.O. 22:30 ドリンクL.O. 23:30）
鉄板焼居酒屋 えん	月～土、祝前日: 17:00～翌3:00 （料理L.O. 翌3:00 ドリンクL.O. 翌3:00）日、祝日: 17:00～翌1:00 （料理L.O. 翌1:00 ドリンクL.O. 翌1:00）
MoiM 高松店	月～木、日、祝日: 12:00～21:00 （料理L.O. 20:00 ドリンクL.O. 20:30）金、土、祝前日: 12:00～22:00 （料理L.O. 21:00 ドリンクL.O. 21:30）
三ツ矢亭 鍛冶屋町店	月～土、祝日、祝前日: 17:30～23:30 （料理L.O. 22:30 ドリンクL.O. 23:00）
海鮮居酒屋 わらじろ 神童ろ 高松	月～水、金: 11:30～13:30 （料理L.O. 13:00 ドリンクL.O. 13:00）17:00～翌0:00 （料理L.O. 22:30 ドリンクL.O. 23:30）木、土、祝前日: 17:00～翌0:00 （料理L.O. 22:30 ドリンクL.O. 23:30）日、祝日: 17:00～22:00 （料理L.O. 21:00 ドリンクL.O. 21:30）
鉄板焼居酒屋 えん はなれ談楽	月～日、祝日、祝前日: 17:00～翌1:00 （料理L.O. 翌1:00 ドリンクL.O. 翌1:00）
炭火焼肉もざいく 春日店	月～土、祝日、祝前日: 11:30～14:30 （料理L.O. 14:00 ドリンクL.O. 14:00）17:00～22:00 （料理L.O. 21:30 ドリンクL.O. 21:30）日: 17:00～22:00 （料理L.O. 21:30 ドリンクL.O. 21:30）
将軍 武田屋	月、水、木、日、祝日、祝前日: 11:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）金、土: 11:00～翌0:00 （料理L.O. 23:30 ドリンクL.O. 22:30）
からあげ テイクアウト 将軍武田屋	月、水、木、日、祝日、祝前日: 11:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）金、土: 11:00～翌0:00 （料理L.O. 23:30 ドリンクL.O. 23:30）
海おやじ	月～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:30）
ぴこぴこ精肉店 瓦町	月～日、祝日、祝前日: 11:30～14:30 （料理L.O. 14:00 ドリンクL.O. 14:00）17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
ぴこぴこ精肉店 春日	月～金、祝前日: 11:30～14:30 （料理L.O. 14:00）17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 22:00）土、日、祝日: 11:30～14:30 （料理L.O. 13:30）17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 22:00）
カーヴ隠れや 高松瓦町店	月～木: 17:30～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）金: 17:30～翌1:00 （料理L.O. 23:00 ドリンクL.O. 23:00）土、日、祝日、祝前日: 17:30～翌1:00 （料理L.O. 翌0:00 ドリンクL.O. 翌0:00）
和食家 伊万利	火～日、祝日、祝前日: 11:00～14:00 （料理L.O. 13:30 ドリンクL.O. 13:30）17:00～22:00 （料理L.O. 20:30 ドリンクL.O. 20:30）
ラムチョップと生ラムのお店 羊小屋	月、水、金～日、祝日: 12:00～15:00 （料理L.O. 14:30 ドリンクL.O. 14:30）16:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）火、木、祝前日: 16:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）
焼肉 やまと 高松	月～水、金、祝前日: 11:00～13:30 （料理L.O. 13:00 ドリンクL.O. 13:00）17:00～22:00 （料理L.O. 21:30 ドリンクL.O. 21:30）土、日、祝日: 17:00～22:00 （料理L.O. 21:30 ドリンクL.O. 21:30）
にわ とりのすけ 西宮北口店	月～日、祝日、祝前日: 12:00～20:00 （料理L.O. 19:00 ドリンクL.O. 19:00）
天下一品 高松西インター店	火～日、祝日、祝前日: 10:00～23:00 （料理L.O. 22:45 ドリンクL.O. 22:45）
原始焼き おさ和風゛	月～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:30 ドリンクL.O. 23:00）
山鳥 やまちょう 屋島店	月～金、祝前日: 11:00～15:0017:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）土、日、祝日: 17:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）
焼肉 なかむら 屋島店	月、火、木～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:30）
ふぁみりー居酒屋 だんらん	月～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）
個室 藁焼き 日本酒処 龍馬 高松瓦町店	月、火、木～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:30）
かくれんぼ	月～日、祝日、祝前日: 17:00～23:30 （料理L.O. 22:30 ドリンクL.O. 23:00）
九州料理 弁慶 高松瓦町店	月、水～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:30）
雅流酒房 みるぽわ	月～金、祝日、祝前日: 11:30～15:00 （料理L.O. 14:00 ドリンクL.O. 14:00）17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）土: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
カラオケ クラブダム CLUB DAM 高松駅前店	月～木: 18:00～翌1:00 （料理L.O. 23:30 ドリンクL.O. 翌0:00）金、祝前日: 18:00～翌3:00 （料理L.O. 翌1:30 ドリンクL.O. 翌2:00）土: 13:00～翌3:00 （料理L.O. 翌1:30 ドリンクL.O. 翌2:00）日、祝日: 12:00～翌0:00 （料理L.O. 22:30 ドリンクL.O. 22:30）
高知家	月～土、祝日、祝前日: 11:30～13:30 （料理L.O. 13:00 ドリンクL.O. 13:00）17:00～22:30 （料理L.O. 22:00 ドリンクL.O. 22:00）
足袋のTOBICHI	月、火、木～日、祝日、祝前日: 18:00～翌1:00 （料理L.O. 翌0:00 ドリンクL.O. 翌0:00）
海鮮居酒屋 雛ちゃん	月、火、木、金、祝前日: 11:30～14:0017:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）土、日、祝日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
西ノ丸大衆酒房 丸ノ屋	月～日、祝日、祝前日: 11:30～14:00 （料理L.O. 13:30 ドリンクL.O. 13:30）17:00～翌0:00 （料理L.O. 23:30 ドリンクL.O. 23:30）
イタリアン ビストロ ヒライ	月～土、祝前日: 17:00～翌0:00 （料理L.O. 23:30 ドリンクL.O. 23:30）日、祝日: 17:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）
寿司割烹 ゆば膳 一宮本店	月～日、祝日、祝前日: 11:30～14:00 （料理L.O. 14:00 ドリンクL.O. 14:00）18:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
瀬戸内フレンチ Aura	月、木～日、祝日、祝前日: 11:30～15:00 （料理L.O. 14:30 ドリンクL.O. 14:30）17:30～20:30 （料理L.O. 19:00 ドリンクL.O. 19:00）
THE CHELSEA ザ・チェルシー	月～日、祝日、祝前日: 10:00～22:00 （料理L.O. 21:30 ドリンクL.O. 21:30）
五色	月～日、祝日、祝前日: 17:00～翌2:00 （料理L.O. 翌1:00 ドリンクL.O. 翌1:00）
瀬戸内海鮮料理 舟忠	月～日、祝日、祝前日: 16:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
TRATTORIA Tino トラットリア ティノ	月～水、金～日、祝日、祝前日: 11:30～14:3017:30～21:30 （料理L.O. 21:00 ドリンクL.O. 20:00）
ぴこぴこ精肉店 サンフラワー通り	火～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
○八ホルモン 居酒屋3号店	月～木、日、祝日: 17:30～翌3:00 （料理L.O. 翌2:30 ドリンクL.O. 翌2:30）金、土、祝前日: 17:30～翌4:00 （料理L.O. 翌3:30 ドリンクL.O. 翌3:30）
ゴーゴーカレー 屋島店	月～日、祝日、祝前日: 10:55～21:55 （料理L.O. 21:30 ドリンクL.O. 21:30）
和牛七厘炭火焼肉 くいだおれ	月～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:30 ドリンクL.O. 23:30）
宴座	月～金: 11:00～14:00 （料理L.O. 13:30 ドリンクL.O. 13:30）17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）土、日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
うまか房 国分寺店	月～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
窯焼きバーグ五十八	月～日、祝日、祝前日: 11:00～15:00 （料理L.O. 14:30 ドリンクL.O. 14:30）17:00～21:00 （料理L.O. 20:00 ドリンクL.O. 20:00）
焼肉 なかむら 本店	月、火、木～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
テアトル ル ボア	月～日、祝日、祝前日: 11:00～15:00 （料理L.O. 15:00）17:00～20:00 （料理L.O. 19:00 ドリンクL.O. 19:00）
双六 高松	火～日、祝日、祝前日: 17:30～23:00 （料理L.O. 22:00）
BBQ焼肉ビアホール AGORA	火～日、祝日、祝前日: 11:30～14:30 （料理L.O. 14:00 ドリンクL.O. 14:00）17:00～22:00 （料理L.O. 21:30 ドリンクL.O. 21:30）
酒と料理のなつ	月～木: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）金、土、祝前日: 17:00～翌1:00 （料理L.O. 翌0:00 ドリンクL.O. 翌0:00）日、祝日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
THE MILESTONE ザ マイルストーン	月～日、祝日、祝前日: 11:30～14:30 （料理L.O. 14:00）17:30～22:00 （料理L.O. 21:00）
厨 日向屋	月～日、祝日、祝前日: 17:00～23:30 （料理L.O. 22:50 ドリンクL.O. 22:50）
焼肉バカ一代 高松店	月～土、祝日、祝前日: 17:00～翌1:00 （料理L.O. 翌0:00 ドリンクL.O. 翌0:00）
個室 肉割烹 牛若丸 高松瓦町店	月、火、木～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:30）
RestaurantBar 軽軽 karokaro カロカロ	月～日、祝日、祝前日: 18:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
LIBERCO リベルコ 高松瓦町店	月、水～金、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:30）土: 12:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:30）日、祝日: 12:00～22:00 （料理L.O. 21:00 ドリンクL.O. 21:30）
Sanuki Wa-Fu Dining 真 SIN	月～金、祝前日: 11:30～14:00 （料理L.O. 13:30 ドリンクL.O. 13:30）17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:30）土、日、祝日: 15:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:30）
おぐり屋	月～土、祝日、祝前日: 18:00～翌0:30 （料理L.O. 翌0:00 ドリンクL.O. 翌0:00）
大衆酒場 だるま木太店	月～日、祝日、祝前日: 17:00～23:30 （料理L.O. 22:30 ドリンクL.O. 23:00）
和栗モンブラン専門店 栗歩 高松店	月、水～日、祝日、祝前日: 11:00～18:00 （料理L.O. 17:00 ドリンクL.O. 17:00）
そば酒房 緒川	月～土、祝日、祝前日: 17:30～23:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
Global kitchen Aries アリエス	月～土、祝日、祝前日: 11:30～14:30 （料理L.O. 14:00）17:30～20:30 （料理L.O. 20:00）
個室 食べ飲み放題 華しずく 宮崎店	月、火、木～日、祝日、祝前日: 18:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:30）
寿し処 高松	月、火、木～日、祝日、祝前日: 11:30～21:00 （料理L.O. 20:30 ドリンクL.O. 20:30）
KAJI PLA DINING	月～土、祝日、祝前日: 11:00～14:0017:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
瀬し香 西ハゼ店	月、水～日、祝日、祝前日: 11:30～22:00 （料理L.O. 21:00 ドリンクL.O. 21:30）
ARa	火～金、祝日、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）土、日: 11:30～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
渡海屋	月～日、祝日、祝前日: 17:30～翌0:00 （料理L.O. 23:30 ドリンクL.O. 23:30）
四季懐石 櫂 かい 高松	月～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）
牛角 高松 レインボー通り店	月～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:20 ドリンクL.O. 23:20）
骨付鳥 焼鳥専門店 串どり 高松店	月～木: 17:30～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）金: 17:30～23:30 （料理L.O. 22:30 ドリンクL.O. 23:00）土、祝日: 17:00～23:30 （料理L.O. 22:30 ドリンクL.O. 23:00）祝前日: 17:30～23:00 （料理L.O. 22:30 ドリンクL.O. 23:00）
讃岐キッチン エスポワール 高松	月～土、祝日、祝前日: 11:00～14:30 （料理L.O. 14:00 ドリンクL.O. 14:00）17:30～21:30 （料理L.O. 21:00 ドリンクL.O. 21:00）
NEPALI&INDIAN RESTAURANT PUJA	月～日、祝日、祝前日: 11:00～15:00 （料理L.O. 14:30 ドリンクL.O. 15:00）17:00～22:00 （料理L.O. 21:30 ドリンクL.O. 21:30）
焼肉 なかむら 西の丸店	月、水～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:30）
焼肉酒家 あぶり亭 高松店	月～土、祝前日: 11:30～14:00 （料理L.O. 13:30 ドリンクL.O. 13:30）17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）日、祝日: 11:30～14:00 （料理L.O. 13:30 ドリンクL.O. 13:30）16:30～22:30 （料理L.O. 21:30 ドリンクL.O. 21:30）
博多一番どり 高松中央店	月、火、木～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
若大将	月～日、祝日、祝前日: 16:00～翌1:00 （料理L.O. 翌0:00 ドリンクL.O. 翌0:00）
オマール Omar’s 西宮北口店	月～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:30）
串焼酒場 若八屋	月～土、祝日、祝前日: 11:30～13:30 （料理L.O. 13:00 ドリンクL.O. 13:00）17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
焼肉 炭焼きカルビ ぼっけぇ	月、金～日、祝日、祝前日: 17:30～22:30 （料理L.O. 22:00 ドリンクL.O. 22:30）火～木: 11:30～14:0017:30～22:30 （料理L.O. 22:00 ドリンクL.O. 22:30）
寧々家 盛岡北大橋店	月～金、日、祝日: 11:00～14:30 （料理L.O. 14:00 ドリンクL.O. 14:00）17:00～22:00 （料理L.O. 21:30 ドリンクL.O. 21:30）土、祝前日: 11:00～14:30 （料理L.O. 14:00 ドリンクL.O. 14:00）17:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）
個室焼肉 シージャン はなれ	月～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:30 ドリンクL.O. 22:30）
中国料理 桃煌 JRホテルクレメント高松	月、火、木～土、祝日、祝前日: 11:30～14:30 （料理L.O. 14:30 ドリンクL.O. 14:30）17:00～20:30 （料理L.O. 19:30 ドリンクL.O. 19:30）
肉力JAPAN 楽椿 らくちん	月～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
笑助	月～日、祝日、祝前日: 18:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
焼肉五苑 高松中央通りハゼ店	月～金、祝前日: 11:30～15:00 （料理L.O. 14:00 ドリンクL.O. 14:00）17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）土、日、祝日: 11:30～翌0:00 （料理L.O. 23:00 ドリンクL.O. 23:00）
高松一敷居の低いソムリエのお店 ガブマル食堂	月～日、祝日、祝前日: 17:00～翌3:00
焼肉 シージャン	月～日、祝日、祝前日: 17:00～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
和洋酒彩 のんのん	月～金、祝前日: 11:30～14:30 （料理L.O. 14:00 ドリンクL.O. 14:00）17:30～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）土、祝日: 17:30～23:00 （料理L.O. 22:00 ドリンクL.O. 22:00）
dining えごう	月～土、祝日、祝前日: 17:30～翌0:00 （料理L.O. 23:30 ドリンクL.O. 23:30）
ミオパエーゼ Mio.Paese	月～土、祝日、祝前日: 12:00～14:00 （料理L.O. 13:30 ドリンクL.O. 13:30）15:00～22:00 （料理L.O. 21:00 ドリンクL.O. 21:00）
またの 鍛冶屋町店	月～日、祝日、祝前日: 17:00～翌0:00 （料理L.O. 23:00 ドリンクL.O. 翌0:00）
豚満 高松北店	月～金: 11:30～14:00 （料理L.O. 14:00 ドリンクL.O. 14:00）17:30～翌1:00 （料理L.O. 翌0:00 ドリンクL.O. 翌0:00）土、祝日、祝前日: 17:30～翌1:00 （料理L.O. 翌0:00 ドリンクL.O. 翌0:00）
かき焼き 海鮮市場 いかだ屋	月～金、日、祝日、祝前日: 11:30～14:00 （料理L.O. 13:30 ドリンクL.O. 13:30）17:00～21:30 （料理L.O. 21:00 ドリンクL.O. 21:00）土: 11:30～14:30 （料理L.O. 13:30 ドリンクL.O. 13:30）17:00～21:30 （料理L.O. 21:00 ドリンクL.O. 21:00）
                        </p>
                    </div>
               </div>
             </div>
        <div id="footer">
        </div>
    </body>
</html> 